@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400&display=swap');

@font-face {
    font-family: 'Metropolis Black';
    url('assets/fonts/Metropolis-Black.ttf') format('truetype');
    url('assets/fonts/Metropolis-Black.woff') format('woff'),
}

@font-face {
    font-family: 'Metropolis Bold';
    url('assets/fonts/Metropolis-Bold.ttf') format('truetype');
    url('assets/fonts/Metropolis-Bold.woff') format('woff'),
}

:root{
    /* colors */
    --base-color: #fe4400;
    --base-color-second: #FE662E;
    --base-color-alt: #36357E;
    --base-color-alt-second: #5251A2;
    --gradient:linear-gradient(90deg, var(--base-color), var(--base-color-second));

    /* fonts */
    --font-main: 'Montserrat', sans-serif;
    --font-black: 'Metropolis Black', sans-serif;
    --font-bold: 'Metropolis Bold', sans-serif;
}

*{
    font-family: var(--font-main), sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
}

*::selection{
    background: var(--base-color);
    color: #fff;
}

html{
    font-size: 70.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #f9f9f9;
}

section{
    min-height: 100vh;
    padding: 0 15%;
    padding-top: 7.5rem;
}

.btn{
    font-family: var(--font-main);
    font-weight: 700;
    display: inline-block;
    margin-top: 1rem;
    padding: 1.5rem 3.5rem;
    border-radius: .5rem;
    background:var(--base-color-alt-second);
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .0s linear;
    margin-top: 2rem;
}

.btn:hover{
    background: var(--base-color-alt);
}

.heading{
    font-family: var(--font-black);
    text-align: center;
    background: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 5rem;
    padding: 1rem;
}

header{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header svg{
    fill: var(--base-color);
}

header .navbar a{
    font-size: 1.5rem;
    margin-left: 2rem;
    color: #333;
    transition: .3s;
    font-weight: 600;
}

header .navbar a:hover{
    color:var(--base-color);
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color:var(--base-color);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(assets/images/home-bg-img.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content h1{
    font-family: var(--font-black);
    color: var(--base-color-alt);
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 31.8rem;
}

.home .content span{
    font-family: var(--font-black);
    color:var(--base-color);
    font-size: 4.5rem;
}

.home .content p{
    font-size: 2.5rem;
    color: #333;
    padding:1rem 0;
    font-weight: 500;
    max-width: 60rem;
}

.home .image img{
    width: 55rem;
    padding-left: 2rem;
}

.measures{
    background:url(assets/images/about-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.measures .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.measures .box-container .box{
    flex: 1 1 30rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    text-align: center;
}

.measures .box-container .box img{
    height: 25rem;
}

.measures .box-container .box h3{
    font-family: var(--font-black);
    color: var(--base-color-alt);
    font-size: 2rem;
    padding-top: 1rem;
}

.measures p{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 500;
}

.measures .box-container .box p{
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}

.about{
    background: url("assets/images/about-bg2.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-overflow: visible;
}

.about .column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .column .image{
    flex: 1 1 40rem;
}

.about .column .image img{
    width: 100%;
}

.about .column .content{
    flex: 1 1 40rem;
}

.about .column .content h3{
    font-family: var(--font-black);
    font-size: 4rem;
    color: var(--base-color-alt);
    margin-bottom: 2rem;
}

.about .column .content p{
    font-size: 2rem;
    color: #333;
    font-weight: 500;
    padding: 1rem 0;
}

.about .column .content span{
    font-size: 2rem;
    color: var(--base-color);
    font-weight: 700;
}

footer {
    background-color: #303033;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .p1 svg{
    fill: white;
    margin-top: 5rem;
}

footer .p1 h2{
    font-family: var(--font-black);
    color: white;
    font-size: 2.5rem;
    line-height: 40px;
    margin-bottom: 5rem;
}

footer .socials a svg{
    fill: white;
    margin-right: 1.5rem;
    transition: .1s;
}

footer .socials a svg:hover{
    fill: var(--base-color);
    transform: translateY(-3px);
}

.back-to-top {
    background: var(--base-color-alt-second);
    color: var(--base-color-alt);

    position: fixed;
    right: 2rem;
    bottom: 5rem;

    padding: 0.5rem;
    clip-path: circle();

    font-size: 2.5rem;
    line-height: 0;

    visibility: hidden;
    opacity: 0;

    transition: 0.3s;
    transform: translateY(100%);
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}










/* media queries */

@media (max-width: 1200px){

    html{
        font-size: 60.5%;
    }

    .about .column .content h3{
        margin-top: 0;
    }

    .about .heading{
        margin-top: 0rem;
    }



}

@media (max-width: 991px){

    section{
        padding: 0 3%;
        padding-top: 7.5rem;
    }

}


@media (max-width: 768px) {

    header label {
        visibility: visible;
        opacity: 1;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: 0.1s linear;
    }

    header .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar {
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before {
        content: '\f00d';
    }

    .home{
        flex-flow: column-reverse;
    }

    .home .image img{
        width: 100%;
        padding-bottom: 2rem;
    }

    .home .content h3{
        font-size: 3rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width: 450px){

    html{
        font-size: 55.5%;
    }

}


@media (max-width: 490px){

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .socials a svg{
        margin-bottom: 5rem;
    }

}